{% extends 'base.html.twig' %}

{% block title %}Edit Enclo{% endblock %}

{% block body %}
    <h1>Edit Enclo</h1>

    {{ include('enclo/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
