{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    <h1>Create new Animal</h1>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('app_espace_index') }}" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i></a>
{% endblock %}
