{% extends 'base.html.twig' %}

{% block title %}Edit Espace{% endblock %}

{% block body %}
    <h1>Edit Espace</h1>

    {{ include('espace/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
